In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import plot, show, savefig, xlim, figure,  ylim, legend, boxplot, setp, axes

In [2]:
df =  pd.read_csv('raw_data.csv')
df.columns =["start", "total", 'overhead', 'duration']
df.head()

   start  total  overhead  duration
0    199    200  2.664747       443
1    197    200  2.179221       137
2    199    200  1.318220       355
3    199    200  1.811665       393
4    199    200  1.483626       358

In [3]:
df['total'].unique()

array([200, 300, 400, 500, 600])

In [6]:
df.shape

(26273, 4)

In [7]:
df['start'].unique()

array([199, 197, 198, 196, 195, 194, 298, 299, 295, 297, 296, 294, 292,
       395, 398, 399, 397, 396, 391, 393, 394, 392, 390, 497, 494, 499,
       496, 493, 498, 495, 483, 492, 491, 500, 598, 594, 597, 595, 596,
       593, 599, 592, 589, 591, 590, 588, 587, 586, 583, 585, 584, 581,
       582, 580, 486, 489, 488, 487, 485, 484, 482, 490, 579, 578, 573,
       574, 576])