In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('raw_data.csv')
df.head()

   0  200  1.4673125679101773  112
0  0  200            1.308100  266
1  0  200            1.643793  102
2  0  200            1.451854  311
3  0  200            1.311437  204
4  0  200            1.415099   77

In [4]:
df.columns =["start", "total", 'overhead', 'duration']

In [5]:
df.start.unique()

array([  0, 199])