In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('missclassified.csv')
df.set_index('Fit', inplace = True)

In [19]:
df.columns

Index(['0.01', '0.05', '0.1', '0.2', '0.3', '0.5', '2', '3', '4'], dtype='object')

In [38]:
whole = range(18, 289, 18)

In [29]:
df['w'] = whole

In [30]:
df = df[['0.01', '0.05', '0.1', '0.2', '0.3', '0.5', '2', '3', '4']].div(df.w, axis=0)

In [32]:
df.iloc[:,:]  *= 100

In [35]:
df = df.round(2)

In [36]:
df.head()

     0.01  0.05  0.1   0.2  0.3  0.5      2     3      4
Fit
1     0.0   0.0  0.0  0.00  0.0  NaN  11.11  0.00   0.00
2     0.0   0.0  0.0  0.00  0.0  NaN   2.78  0.00   2.78
3     0.0   0.0  0.0  0.00  0.0  NaN   3.70  0.00   3.70
4     0.0   0.0  0.0  1.39  0.0  NaN   1.39  2.78  12.50
5     0.0   0.0  0.0  2.22  0.0  NaN   1.11  2.22   8.89

In [37]:
df_b = df[['0.01', '0.05', '0.1', '0.2', '0.3', '0.5']]
df_k = df[['2', '3', '4']]

In [39]:
print('\\begin{table}[h!] \n\centering')
print(df_b.to_latex(index=True)) 
print('\label{tab:}\n \caption{}\n\end{table}')

\begin{table}[h!]
\centering
\begin{tabular}{lrrrrrr}
\toprule
{} &  0.01 &  0.05 &   0.1 &   0.2 &    0.3 &   0.5 \\
Fit &       &       &       &       &        &       \\
\midrule
1   &  0.00 &  0.00 &  0.00 &  0.00 &   0.00 &   NaN \\
2   &  0.00 &  0.00 &  0.00 &  0.00 &   0.00 &   NaN \\
3   &  0.00 &  0.00 &  0.00 &  0.00 &   0.00 &   NaN \\
4   &  0.00 &  0.00 &  0.00 &  1.39 &   0.00 &   NaN \\
5   &  0.00 &  0.00 &  0.00 &  2.22 &   0.00 &   NaN \\
6   &  0.00 &  0.00 &  0.00 &  2.78 &   0.00 &   NaN \\
7   &  0.00 &  0.00 &  0.00 &  5.56 &   0.79 &  2.38 \\
8   &  0.00 &  0.00 &  0.00 &  4.17 &   0.00 &  2.78 \\
9   &  1.23 &  1.23 &  1.23 &  1.23 &   2.47 &  1.23 \\
10  &  1.11 &  1.11 &  1.11 &  1.11 &   2.22 &  1.11 \\
11  &  2.02 &  2.02 &  2.02 &  2.02 &  10.61 &  7.07 \\
12  &  1.85 &  1.85 &  1.85 &  1.85 &   5.56 &  1.85 \\
13  &  1.71 &  1.71 &  1.71 &  1.71 &   1.71 &  1.71 \\
14  &  1.59 &  1.59 &  1.59 &  1.59 &   2.38 &  1.59 \\
15  &  2.96 &  2.96 &  2.96 &  2.96 &   2.96 &  2.96 \\
16  &  3.12 &  3.12 &  3.12 &  3.12 &   3.12 &  2.78 \\
\bottomrule
\end{tabular}

\label{tab:}
 \caption{}
\end{table}

In [40]:
print('\\begin{table}[h!] \n\centering')
print(df_k.to_latex(index=True)) 
print('\label{tab:}\n \caption{}\n\end{table}')

\begin{table}[h!]
\centering
\begin{tabular}{lrrr}
\toprule
{} &      2 &     3 &      4 \\
Fit &        &       &        \\
\midrule
1   &  11.11 &  0.00 &   0.00 \\
2   &   2.78 &  0.00 &   2.78 \\
3   &   3.70 &  0.00 &   3.70 \\
4   &   1.39 &  2.78 &  12.50 \\
5   &   1.11 &  2.22 &   8.89 \\
6   &   0.00 &  4.63 &  14.81 \\
7   &   0.79 &  3.97 &  14.29 \\
8   &   0.69 &  3.47 &  12.50 \\
9   &   0.62 &  0.62 &   9.88 \\
10  &   0.56 &  1.11 &   9.44 \\
11  &   1.01 &  2.02 &   9.09 \\
12  &   1.39 &  1.85 &   8.33 \\
13  &   1.71 &  1.71 &   7.69 \\
14  &   1.59 &  1.59 &   7.94 \\
15  &   2.59 &  4.44 &   6.67 \\
16  &   4.17 &  4.17 &   5.56 \\
\bottomrule
\end{tabular}

\label{tab:}
 \caption{}
\end{table}