In [1]:
import numpy as np
import json
import pandas as pd

In [7]:
df = pd.read_csv('./new_new_test/raw_data.csv')
df.head()

   0  500  1.3868252315673921   83
0  0  500            1.876755  133
1  0  500            4.253753  278
2  0  500            1.182903  251
3  0  500            3.379408  539
4  0  500            1.539755  428

In [11]:
df.columns =["start", "total", 'overhead', 'duration']

In [12]:
df

      start  total  overhead  duration
0         0    500  1.876755       133
1         0    500  4.253753       278
2         0    500  1.182903       251
3         0    500  3.379408       539
4         0    500  1.539755       428
...     ...    ...       ...       ...
4173      0    300  1.670328       349
4174      0    300  1.737551       387
4175      0    300  1.131417       177
4176      0    300  1.509925       496
4177      0    300  1.657779       341

[4178 rows x 4 columns]

In [14]:
df.start.unique()

array([0])

In [15]:
df.total.unique()

array([500, 400, 300, 200])